---
import Picture from "astro/components/Picture.astro";
import Layout from "@/layouts/Layout.astro";
import Menu from "@/components/Menu.astro";
import CityContainer from "@/components/CityContainer.astro";
import Testimonials from "@/components/Testimonials.astro";
import HomeSearch from "@/components/HomeSearch.astro";
import HomeWindow from "@/components/HomeWindow.astro";
import localImage from "@/../public/images/bg/bg-home.webp";

import { useTranslations } from "@/i18n/utils";
import { languages } from "@/i18n/ui";

const relativeLocale = Astro.currentLocale || "en";
const t = useTranslations(relativeLocale as keyof typeof languages);

const title = t("SEO.home.title");
const description = t("SEO.home.description");
/*bg-home-banner bg-cover bg-bottom bg-no-repeat*/
---

<Layout title={title} description={description}>
  <Menu isFloating isWhite />
  <div class="relative h-[650px] w-full flex justify-center items-center">
    <HomeSearch />

    <div
      class="uppercase font-serif text-4xl md:text-6xl text-white w-60 md:w-[440px] text-center leading-[3rem] md:leading-[4.5rem] absolute"
    >
      {t("home.header.title")}
    </div>
    <Picture
      src={localImage}
      formats={["avif", "webp", "jpeg"]}
      alt="background home image"
      loading={"eager"}
      style={{
        objectFit: "cover",
        objectPosition: "bottom",
        width: "100%",
        height: "100%",
      }}
      pictureAttributes={{
        class: "w-full h-full",
      }}
    />
  </div>
  <main class="relative">
    <section class="bg-white pt-16 px-10 md:px-20 max-w-7xl md:mx-auto">
      <h1 class="uppercase font-serif text-3xl md:text-4xl mb-10 lg:mb-20">
        {t("home.city.title1")}
        <div class="italic normal-case mt-2">
          {t("home.city.title2")}
        </div>
      </h1>
    </section>

    <CityContainer />
    <Testimonials />
  </main>
  <HomeWindow />
</Layout>
