---
import Picture from "astro/components/Picture.astro";
import Layout from "@/layouts/Layout.astro";
import Menu from "@/components/Menu.astro";
import SellerForm from "@/components/SellerForm.tsx";
import ResponseForm from "@/components/ResponseForm.astro";
import Faqs from "@/components/Faqs.astro";

import { useTranslations } from "@/i18n/utils";
import { languages } from "@/i18n/ui";

const relativeLocale = Astro.currentLocale || "en";
const t = useTranslations(relativeLocale as keyof typeof languages);

import type { LabelsSellerParams } from "@/utils/property";

const labels = {
  title: t("seller.form.title"),
  description: t("seller.form.description"),
  firstname: t("seller.form.first.name"),
  lastname: t("seller.form.last.name"),
  email: t("seller.form.email"),
  prefix: t("seller.form.prefix"),
  phone: t("seller.form.phone"),
  location: t("seller.form.location"),
  meters: t("seller.form.square.meters"),
  bedsbaths: t("seller.form.bedrooms.bathrooms"),
  bedrooms: t("seller.form.bedrooms"),
  bathrooms: t("seller.form.bathrooms"),
  items: t("seller.form.selec.items"),
  parking: t("seller.form.parking"),
  pool: t("seller.form.pool"),
  view: t("seller.form.view"),
  button: t("seller.form.botton"),
} as LabelsSellerParams;

const title = t("SEO.seller.title");
const description = t("SEO.seller.description");
---

<Layout title={title} description={description}>
  <Menu isFloating isWhite />
  <div class="h-[276px] w-full flex justify-center items-center">
    <Picture
      width={1280}
      height={257}
      src="/images/bg/bg-seller.webp"
      formats={["avif", "webp", "jpeg"]}
      alt="background home image"
      style={{
        objectFit: "cover",
        objectPosition: "bottom",
        width: "100%",
        height: "100%",
      }}
      pictureAttributes={{
        class: "w-full h-full",
      }}
    />
  </div>

  <section class="max-w-7xl mx-auto mb-10 mt-20 px-10">
    <div
      class="flex flex-col lg:flex-row justify-between items-center my-10 mx-auto gap-10 lg:gap-20"
    >
      <h2
        class="w-full text-center lg:text-left lg:w-[500px] uppercase font-serif text-3xl md:text-4xl"
      >
        {t("seller.title1")}
        <div class="italic normal-case mt-2">
          {t("seller.title2")}
        </div>
      </h2>
      <p class="w-full text-center lg:text-left lg:w-1/2">
        {t("seller.description")}
      </p>
    </div>

    <div class="flex justify-between items-start gap-20 mt-20 mb-48">
      <Picture
        width={503}
        height={505}
        src="/images/seller.webp"
        formats={["avif", "webp", "jpeg"]}
        alt="background home image"
        style={{
          borderRadius: "1rem",
        }}
        pictureAttributes={{
          class: "hidden lg:block w-[500px] xl:w-fit",
        }}
      />

      <SellerForm labels={labels} client:load />
    </div>
  </section>

  <Faqs type="seller" />
</Layout>

<ResponseForm
  msgSuccess="Thank you for your message! We will contact you soon."
  msgError="We are experiencing problems at this time. Please try again later."
/>
