---
import ResponseForm from "@/components/ResponseForm.astro";
import Close from "@/components/icons/Close.astro";
import { useTranslations } from "@/i18n/utils";
import { languages } from "@/i18n/ui";

const relativeLocale = Astro.currentLocale || "en";
const t = useTranslations(relativeLocale as keyof typeof languages);
---

<dialog
  id="ContactsWin"
  class="max-w-lg w-full bg-primary-50 text-black text-xs font-light rounded-xl backdrop:bg-primary-300/80 relative p-10 pt-4 overflow-hidden m-auto"
>
  <h3 class="font-serif font-semibold text-2xl text-center mb-4">
    Get in Touch
  </h3>
  <button id="closeDialogContactForm" class="absolute top-4 right-4">
    <Close className="size-6 stroke-black outline-none" />
  </button>

  <form class="px-8 pt-4 pb-16 bg-primary-50 rounded-xl w-full">
    <div class="flex justify-around items-center gap-6 w-full">
      <div class="w-full mt-6 mb-4">
        <label for="contact-Name"
          >{t("contact.form.name")} <span class="text-red-500">*</span>
        </label>
        <input
          class="w-full bg-primary-50 border-b border-black py-2 font-sans"
          id="contact-Name"
          required
          name="Name"
          placeholder={t("contact.form.your.name")}
        />
      </div>
    </div>

    <div class="w-full mb-4">
      <label for="contact-email"
        >{t("contact.form.email")} <span class="text-red-700">*</span>
      </label>
      <input
        class="w-full bg-primary-50 border-b border-black py-2 font-sans"
        type="email"
        id="contact-email"
        required
        name="Email"
        placeholder={t("contact.form.your.email")}
      />
    </div>

    <div class="w-full mb-1">
      <label for="contact-Phone">{t("contact.form.phone")}</label>
    </div>
    <input
      class="w-full bg-primary-50 border-b border-black py-2 font-sans"
      type="number"
      id="contact-Phone"
      name="Phone"
      placeholder={t("contact.form.your.phone")}
    />

    <div class="w-full mt-4">
      <label for="contact-Message"
        >{t("contact.form.massage")} <span class="text-red-700">*</span>
      </label>
      <input
        class="w-full bg-primary-50 border-b border-black py-2 font-sans"
        id="contact-Messagel"
        required
        name="Message"
        placeholder={t("contact.form.your.massage")}
      />
    </div>

    <div class="text-center mt-10 gap-6">
      <button
        type="submit"
        class="px-36 py-4 bg-primary-700 rounded-full text-white"
        >{t("contact.form.botton")}</button
      >

      <p class="w-auto md:w-[415px] text-center text-xs mx-auto my-6">
        {t("contact.form.description")}
      </p>
    </div>
  </form>
</dialog>

<ResponseForm
  msgSuccess="Your message has been received-expect a prompt and personalized response. Let’s make your real estate journey effortless and rewarding"
  msgError="We are experiencing problems at this time. Please try again later."
/>

<script>
  import { actions } from "astro:actions";

  const closeContactWin = document.getElementById("closeDialogContactForm"),
    contactWin = document.getElementById("ContactsWin") as HTMLDialogElement,
    form = document.querySelector("form") as HTMLFormElement,
    dialogForm = document.getElementById("dialogForm") as HTMLDialogElement,
    dialogFormError = document.getElementById(
      "dialogFormError"
    ) as HTMLDialogElement;

  closeContactWin?.addEventListener("click", (e) => {
    e.preventDefault();

    contactWin?.close();
  });

  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);

    const { error } = await actions.emails.sendEmailContact(formData);

    if (error) {
      dialogFormError.showModal();
      return;
    }

    form?.reset();
    dialogForm.showModal();
  });
</script>
