---
import RealEstate from "@/components/icons/RealEstate.astro";
import HouseMoney from "@/components/icons/HouseMoney.astro";
import Keys from "@/components/icons/Keys.astro";
import Investing from "@/components/icons/Investing.astro";

const { icon, title, desc1, desc2, desc3 } = Astro.props;
---

<article
  class="w-[70%] md:w-[70%] md:min-w-80 h-fit md:h-[620px] bg-white hover:bg-primary-100 p-10 rounded-xl shadow-md"
>
  <div
    class="bg-primary rounded-full bg-center p-6 size-24 lg:size-24 mx-auto mb-8"
  >
    {icon == "selling" && <RealEstate />}
    {icon == "buying" && <HouseMoney />}
    {icon == "renting" && <Keys />}
    {icon == "investing" && <Investing />}
  </div>
  <h2 class="text-lg text-center font-semibold mx-auto">{title}</h2>
  <p class="text-center mg:w-auto my-6">
    {desc1}
  </p>
  <p class="text-center my-6">
    {desc2}
  </p>
  <p class="text-center my-6">
    {desc3}
  </p>
</article>
