---
import TestimonialsSlider from "@/components/TestimonialsSlider.tsx";
import { useTranslations } from "@/i18n/utils";
import { languages } from "@/i18n/ui";

const relativeLocale = Astro.currentLocale || "en";
const t = useTranslations(relativeLocale as keyof typeof languages);

const testimonials = [
  {
    name: "CARLOS SILVA",
    desc: t("testimonials.description1"),
  },
  {
    name: "ANGELA PACHECO",
    desc: t("testimonials.description2"),
  },
  {
    name: "SUSANA TORRES",
    desc: t("testimonials.description3"),
  },
];
---

<section class="bg-crema py-16 px-20">
  <div
    class="max-w-7xl mx-auto flex flex-col md:flex-row justify-stretch items-start"
  >
    <div class="w-full md:w-1/2">
      <h2 class="font-serif text-3xl md:text-5xl mb-5 md:mb-10 lg:ml-12">
        {t("testimonials.title")}
      </h2>

      <p class="font-sans text-base lg:ml-12 md:w-72 lg:w-80">
        {t("testimonials.description")}
      </p>
    </div>

    <div class="w-full md:w-1/2 mt-20">
      <TestimonialsSlider testimonials={testimonials} client:load />
    </div>
  </div>
</section>
