---
import Layout from "@/layouts/Layout.astro";
import Menu from "@/components/Menu.astro";
import ContactForm from "@/components/ContactForm.tsx";
import Picture from "astro/components/Picture.astro";
import localImage from "@/../public/images/bg/bg-contact.webp";
import { useTranslations } from "@/i18n/utils";
import { languages } from "@/i18n/ui";
import type { LabelsContactParams } from "@/utils/property";

const relativeLocale = Astro.currentLocale || "en";
const t = useTranslations(relativeLocale as keyof typeof languages);

const title = t("SEO.contact.title");
const description = t("SEO.contact.description");

const labels = {
  name: t("contact.form.name"),
  email: t("contact.form.email"),
  phone: t("contact.form.phone"),
  message: t("contact.form.massage"),
  button: t("contact.form.botton"),
  buttontext: t("contact.form.description"),
  ph_name: t("contact.form.your.name"),
  ph_email: t("contact.form.your.email"),
  ph_phone: t("contact.form.your.phone"),
  ph_message: t("contact.form.your.massage"),
} as LabelsContactParams;
---

<Layout title={title} description={description}>
  <Menu isFloating isWhite />
  <div class="h-[1281px] w-full flex justify-center items-center">
    <div class="absolute w-[75%] max-w-3xl flex justify-center items-center">
      <ContactForm labels={labels} client:load />
    </div>
    <Picture
      src={localImage}
      formats={["avif", "webp", "jpeg"]}
      alt="background home image"
      style={{
        objectFit: "cover",
        objectPosition: "bottom",
        width: "100%",
        height: "100%",
      }}
      pictureAttributes={{
        class: "w-full h-full",
      }}
    />
  </div>
</Layout>
