---
import Layout from "@/layouts/Layout.astro";
import Menu from "@/components/Menu.astro";
---

<Layout title="bienvenido a Hidalgo">
  <Menu />
  <main>
    <h1 class="text-primary font-sans">
      Bienvenido a <span class="text-gradient font-serif italic">Hidalgo</span>
    </h1>
  </main>
</Layout>
