---
import Layout from "@/layouts/Layout.astro";
import Menu from "@/components/Menu.astro";
import Trans from "@/i18n/Trans.astro";
---

<Layout title="Welcome a hidalgo">
  <Menu />
  <main>
    <h1 class="text-primary font-sans">
      <Trans i18nKey="home.welcome">
        Welcome to <span class="text-gradient font-serif italic">Hidalgo</span>
      </Trans>
    </h1>
  </main>
</Layout>
