---
import Layout from "@/layouts/Layout.astro";
import Menu from "@/components/Menu.astro";
import SellerForm from "@/components/SellerForm.tsx";
import ResponseForm from "@/components/ResponseForm.astro";
import { useTranslations } from "@/i18n/utils";
import { languages } from "@/i18n/ui";

const relativeLocale = Astro.currentLocale || "en";
const t = useTranslations(relativeLocale as keyof typeof languages);

import type { LabelsSellerParams } from "@/utils/property";

const labels = {
  title: t("seller.form.title"),
  description: t("seller.form.description"),
  firstname: t("seller.form.first.name"),
  lastname: t("seller.form.last.name"),
  email: t("seller.form.email"),
  prefix: t("seller.form.prefix"),
  phone: t("seller.form.phone"),
  location: t("seller.form.location"),
  meters: t("seller.form.square.meters"),
  bedsbaths: t("seller.form.bedrooms.bathrooms"),
  bedrooms: t("seller.form.bedrooms"),
  bathrooms: t("seller.form.bathrooms"),
  items: t("seller.form.selec.items"),
  parking: t("seller.form.parking"),
  pool: t("seller.form.pool"),
  view: t("seller.form.view"),
  button: t("seller.form.botton"),
} as LabelsSellerParams;
---

<Layout title="Welcome a hidalgo">
  <Menu isFloating isWhite />
  <div
    class="h-[276px] w-full bg-seller-banner bg-cover bg-bottom bg-no-repeat flex justify-center items-center"
  >
  </div>

  <section class="max-w-7xl mx-auto mb-10 mt-20 px-10">
    <div
      class="flex flex-col lg:flex-row justify-between items-center my-10 mx-auto gap-20"
    >
      <h2
        class="w-full text-center lg:text-left lg:w-[500px] italic font-serif text-4xl md:text-5xl leading-10 mb-4"
      >
        {t("seller.title1")}
        <br />{t("seller.title2")}
      </h2>
      <p class="w-full lg:w-1/2">
        {t("seller.description")}
      </p>
    </div>

    <div class="flex justify-between items-start gap-20 mt-20 mb-48">
      <img
        src="/images/seller.webp"
        alt="seller"
        class="hidden lg:block rounded-xl w-10 lg:w-[400px] xl:w-fit"
      />

      <SellerForm labels={labels} client:load />
    </div>
  </section>
</Layout>

<ResponseForm
  msgSuccess="Thank you for your message! We will contact you soon."
  msgError="We are experiencing problems at this time. Please try again later."
/>

<script>
  /*import { actions } from "astro:actions";

  const form = document.querySelector("form") as HTMLFormElement,
    dialogForm = document.getElementById("dialogForm") as HTMLDialogElement,
    dialogFormError = document.getElementById(
      "dialogFormError"
    ) as HTMLDialogElement;

  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);

    const { error } = await actions.emails.sendEmailSeller(formData);

    if (error) {
      dialogFormError.showModal();
      return;
    }

    form?.reset();
    dialogForm.showModal();
  });*/
</script>
